body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: rgba(74, 74, 74, 0);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
    height: 100px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #ececec;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 10px;
}

.person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.person li {
    margin-bottom: 8px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    margin: 0;
}

footer {
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;
}
